---
import { Image } from "astro:assets";
import type { Header } from "../../payload-types";

import hamburgerMenu from "../assets/icons/hamburger-menu.svg";
import upArrow from "../assets/icons/up-arrow.svg";

let data: Header;
try {
  const response = await fetch(`${import.meta.env.CMS_API_URL}/globals/header`);
  if (!response.ok) {
    throw Error("error fetching data");
  }
  data = await response.json();
} catch (error: any) {
  throw Error(error.message);
}
---

<header
  id="header"
  class="opacity-1 fixed bottom-0 z-10 flex max-h-16 w-full items-center justify-between bg-white p-2 transition-all duration-500 ease-in-out motion-reduce:transition-none md:top-0 md:max-h-20 md:justify-between md:shadow-lg lg:max-h-24"
>
  <!-- Logo -->
  <div class="basis-3/4 md:basis-1/3">
    <a href="/" class="flex items-center justify-start gap-4">
      <div class="md:w-18 w-14 lg:w-20">
        {
          typeof data.logo !== "string" ? (
            <Image
              src={data!.logo.url!}
              alt={data.logo.alt}
              width={data.logo.width!}
              height={data.logo.height!}
              class="float-right w-[80%]"
            />
          ) : (
            <div>Error fetching data</div>
          )
        }
      </div>
      <div class="font-siteTitle text-gray-700 md:text-xl">
        Jonang Takten<br /> Phuntsok Choeling
      </div>
    </a>
  </div>
  <!-- Menu -->
  <div
    class="hidden font-semibold text-gray-600 md:mr-2 md:block xl:mr-12 xl:text-xl"
  >
    <ul
      class="my-0 list-none items-center gap-3 font-headerLinks md:flex lg:gap-4 xl:gap-6"
    >
      {
        data.navigation.map((field: any) => (
          <li class="hover:text-yellow-500">
            {field.link ? (
              <a href={`/${field.link.slug}`}>{field.link.title}</a>
            ) : (
              field.label
            )}
          </li>
        ))
      }
      <button
        class="secondary-button rounded bg-yellow-500 text-gray-700 drop-shadow-lg hover:bg-yellow-600 lg:h-12 lg:text-[18px]"
        >Donate</button
      >
    </ul>
  </div>
  <!-- Controls -->
  <div class="flex gap-4 md:hidden">
    <button
      class="hide max-h-[35px] transition-all duration-500 ease-in-out motion-reduce:transition-none align-middle"
      id="topButton"><Image src={upArrow} alt="Up arrow icon" /></button
    >
    <button class="align-middle"
      ><Image src={hamburgerMenu} alt="Hamburger menu icon" /></button
    >
  </div>
</header>

<script>
  const header = document.querySelector("#header")!;

  let prevScrollPos = window.scrollY;
  window.addEventListener("scroll", () => {
    const currentScrollPos = window.scrollY;
    const scrollingUp = currentScrollPos < prevScrollPos;

    header.classList.toggle("hide", !scrollingUp);
    header.setAttribute("aria-hidden", scrollingUp ? "false" : "true");

    prevScrollPos = currentScrollPos;

    const topButton = document.querySelector("#topButton");
    topButton!.addEventListener("click", function () {
      scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });

    if (window.scrollY > window.innerHeight) {
      topButton?.classList.remove("hide");
    } else {
      topButton?.classList.add("hide");
    }
  });
</script>
