---
import { Image } from "astro:assets";

const res = await fetch(`${import.meta.env.CMS_API_URL}/globals/siteTitle`);
const data = await res.json();
---

<div class="my-12 px-4 text-center text-red-900">
  <h1
    class="my-12 font-siteTitle text-4xl md:my-16 md:text-4xl"
    set:html={data.secondaryTitle}
  />
  <div class="mx-auto w-60 md:w-72">
    <Image
      src={data.logo.url}
      alt={data.logo.alt}
      width={data.logo.width}
      height={data.logo.height}
      class="mx-auto"
    />
  </div>
  <div class="mt-4 italic md:text-lg" set:html={data.subheading} />
</div>
